@import "../../../app.scss";


.header-text {
  margin: 10px 20px 10px 20px;
}

.bottom-text {
  margin: 20px 40px 40px 40px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.visual-container{
    margin-top: 20px;
}