.visual-img{
    height: 120px;
    width: 120px;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
}

.second-visual-img{
    height: 618px;
    width: 454.3px;
}

.visual-container{
    color: #666 !important;
    font-size: 28px !important;
    line-height: 42px;
}

.header-text {
    margin: 10px 20px 10px 20px;
}
  
.bottom-text {
    margin: 20px 20px 40px 20px;
}
  