.problem-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.option-box{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .option-order{
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: #C0C0C0;
        color: white;
    }

    .option-order.option-order-selected{
        background-color: #18bff6 !important;
    }
    .option-container{
        margin-left: 10px;
    }
}

.tip-container{
    margin: 20px 0;
    .tip{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white !important;
        background-color: #ff4757 !important;
        padding: 10px 20px;
        border-radius: 10px;
        .tip-text{
            font-size: 25px;
        }
    }
}

