$SELECTED_COLOR: #3d84ff !important;

.problem-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.option-box{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .option-order{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .checkbox-img{
            margin-right: 15px !important;
            height: 24px;
            width: 24px;
        }
        .order-num{
            margin-right: 5px;
        }
    }

    .option-order.option-order-selected{
        color: $SELECTED_COLOR;
    }
    .option-container{
        margin-left: 10px;
        .option-text-selected{
            color: $SELECTED_COLOR;
        }
    }
}

.tip-container{
    margin: 20px 0;
    .tip{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white !important;
        background-color: #ff4757 !important;
        padding: 10px 20px;
        border-radius: 10px;
        .tip-text{
            font-size: 25px;
        }
    }
}

