.thanks-img {
  height: 80px;
  width: 80px;
}

.success-container {
  height: 100%;
  .thanks-text {
    font-weight: 600;
    font-size: 32px;
    color: #999;
    margin-top: 30px;
  }
}

page {
  height: 100%;
}
