.block-visual-container{
    margin: 20px;
    margin-bottom: 40px !important;
    text-align: center;
    .title{
        font-size: 32px;
        font-weight: 500;
        margin: 20px 0;
    }
}


.block-img{
    height: 355px;
    width: 708px;
}