@import "~taro-ui/dist/style/index.scss"; // 引入组件样式 - 方式二
.login-btn {
  width: 250px;
  border-radius: 20px;
}

.confirm-btn {
  margin-top: 50px;
}

.step-container {
  padding: 20px;
}
.border-bottom {
  border-bottom: 1px solid #f5f6f7;
}

.shadow {
  box-shadow: 0px 0px 16px 4px rgba(6, 80, 135, 0.08);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row{
  flex-direction: row;
}

.flex-alignItems-flexStart {
  align-items: flex-start;
}

.flex-alignItems-center {
  align-items: center;
}

.flex-alignItems-flexEnd {
  align-items: flex-end;
}

.flex-justifyContent-spaceBetween {
  justify-content: space-between;
}

.flex-justifyContent-spaceAround {
  justify-content: space-around;
}

.flex-justifyContent-end{
  justify-content: flex-end;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.c-btn-linergradient-blue {
  color: #fff;
  background: linear-gradient(90deg,#18bff6,#1875f6);
  border: 0!important;
  outline: 0!important;
}

.line {
  height: 1px;
  background-color: #f2f4f5;
}

.line.big {
  height: 10px;
}

.line.middle {
  height: 6px;
}